


the <%= @fam_name %> family


<div class="row justify-content-center mb-5">
  <div class="col-auto"> 
      <%= for member <- @fam_members do %> 
        <div> 
          <%= member.name %>
        </div> 
      <% end %>
  </div> 

  <div> 
    <span><%= link "Add family member", to: Routes.app_path(@conn, :add_family_member) %></span>
    <span><%= link "Change Password", to: Routes.app_path(@conn, :change_password) %></span>

  </div> 
</div> 

