<div class="row justify-content-center mb-5">
  <div class="col-lg-8 col-sm-12"> 
    <h1 class="h1">Add a New Joke</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.joke_path(@conn, :create)) %>
  </div>
</div>
    <%= link "Cancel", to: Routes.app_path(@conn, :index), class: "btn btn-outline-secondary"%>
