
<div class="row justify-content-center mb-5">
  <div class="col-lg-8 col-sm-12"> 
    <h1 class="h1">Darn it... Darn it... </h1>
    <p>Sorry, either you don't have permission to view this joke or it doesn't exist</p>
    <p>We're adding the feature to share jokes across families soon</p>
    <p>Cowabunga</p>
  </div>
</div>

