<%= if Application.get_env(:funny, :envy) == :prod do %>
  <div id="root"></div>
  <script type="text/javascript" src="/app.js"></script>
<% else %>
  <div id="root"></div>
  <script type="text/javascript" src="/app.js"></script>
<% end %>
